---

# - fail: msg="This role is only compatible with Ubuntu"
#   when: ansible_facts['distribution'] != 'Ubuntu'

- name: Include version-specific variables for Debian
  ansible.builtin.include_vars: "Debian-{{ ansible_facts['distribution_major_version'] }}.yml"
  when: ansible_facts['os_family'] == "Debian" and ansible_facts['distribution'] != "Ubuntu"
- name: Include version-specific variables for Ubuntu.
  ansible.builtin.include_vars: "{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_version'] }}.yml"
  when: ansible_facts['distribution'] == 'Ubuntu'
- name: Include version-specific variables for RedHat
  ansible.builtin.include_vars: "RedHat-{{ ansible_facts['distribution_major_version'] }}.yml"
  when: ansible_facts['os_family'] == "RedHat"

- name: Import volatility2
  ansible.builtin.import_tasks: volatility.yml
  when: >
    volatility_target == '2'
- name: Import volatility3
  ansible.builtin.import_tasks: volatility3.yml
  when: >
    volatility_target != '2'

# - ansible.builtin.import_tasks: volatility-win10.yml

- name: Import memory-samples
  ansible.builtin.import_tasks: memory-samples.yml
  when: volatility_samples is defined and volatility_samples

- name: Import volatility-scan
  ansible.builtin.import_tasks: volatility-scan.yml
  when: volatility_scan is defined and volatility_scan
